<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management System | Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="image">
        <header>
            <section>
                <div class="logo">
                    <img src="./logo.png" alt="">
                </div>
                <div class="pages">
                    <nav>
                        <a href='{{url_for('home')}}'>Home</a>
                        <a href='{{url_for('about')}}'>About Us</a>
                        <a href='{{url_for('membership')}}'>Membership</a>
                    </nav>
                </div>
            </section>
        </header>
        <main>
            <b><h2 class="hero">Sore Today, Strong Tomorrow</h2></b>
            <p class="heero">"Your Fitness partner is here, Join Today!"</p>
            <a class='styled-button' href='/contact'>Join Now!</a>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Gym Management System</p>
    </footer>
</body>
</html>
